streamlit
streamlit_option_menu
langchain
langchain-core
langchain-community
langserve[all]
langchain-cli
langsmith
langchain_openai
huggingface_hub
numexpr
duckduckgo-search
tiktoken
pinecone-client
travily-python
langchainhup
beautifulsoup4
faiss-cpu
requests
openai
